<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 对应的是接口的全名 -->
<mapper namespace="com.bw.mapper.PlantMapperDao">
	<select id="findAllList" resultType="map" parameterType="map">
		SELECT p.*,t.tname FROM `0830_plant` p
		LEFT JOIN 0830_type t on p.tid =
		t.tid
		 <where>
			<if test="pname != null and pname != '' ">
				and p.pname like concat('%',#{pname},'%')
			</if>
		</where> 
	</select>
	
</mapper>